/* Footer */
footer {
    background-color: #000;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid var(--primary-color);
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.copyright {
    color: var(--gray-color);
    font-size: 0.9rem;
}